<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="mainApp" ng-init="firstName='TE'" ng-controller="student.controller">

<p>Input something in the input box:</p>
<p>using ng-model</p>
<p>Name: <input type="text" ng-model="firstName"></p>
<p>You wrote: {{ firstName }}</p>
<p>using ng-bind</p>
<p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p> 
  <p>using ng-controller</p> 
        Enter First Name: <input type="text" ng-model="student.firstName">
        <br>
        Enter Last Name: <input type="text" ng-model="student.lastName">
        <br>
        Your Output: {{student.fullName()}}
</div>

</body>
<script>
       angular.module('mainApp', [])
        .controller('student.controller', function($scope) {
            $scope.student = {
                firstName: '',
                lastName: '',
                fullName: function() {
                    return this.firstName + ' ' + this.lastName;
                }
            };
        }); 
    </script>  
</html>
