<!-- <a href="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></a> -->

<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="" ng-init="firstName='TE'" ng-controller="student.controller">

<p>Input something in the input box:</p>
<p>Name: <input type="text" ng-model="firstName"></p>
<p>You wrote: {{ firstName }}</p>
<p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>  
 <h1>Student Information</h1>
        Enter First Name: <input type="text" ng-model="student.firstName">
        <br>
        Enter Last Name: <input type="text" ng-model="student.lastName">
        <br>
        Your Output: {{student.fullName()}}
</div>

</body>
<script>
       angular.module('mainApp', [])
        .controller('student.controller', function($scope) {
            $scope.student = {
                firstName: '',
                lastName: '',
                fullName: function() {
                    return this.firstName + ' ' + this.lastName;
                }
            };
        }); 
    </script>  
</html>
